<div class="container">
<%- model_class = Person -%>
<div class="page-header">
  <h1><%=t '.title', :default => "EMCS部门点餐统计" %></h1>
</div>

	<h3>请不要删除别人的订单，这样会导致别人没有饭吃的！</h3>
	<h4>当前时间：<%= Time.now.to_formatted_s(:db) %></h4>
	<BR />
	<p style="color: red; font-size: 20px"> 点餐人数共<%= @count %>人。</p>
	<BR />
	<BR />
	

<table class="table table-striped">
  <thead>
    <tr>
      <th>姓名</th>
	  <th>选择</th>
      <th>需求</th>
      <th>时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
		<td><%= person.choice %></td>
        <td><%= person.description %></td>
        <td><%= person.updated_at.localtime.to_formatted_s(:time)  %></td>
        <td>
          <%= link_to t('.show', :default => "详细"),
                      person_path(person), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => "编辑"),
                      edit_person_path(person), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => "删除"),
                      person_path(person),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_person_path,
            :class => 'btn btn-primary' %>

</div>

