<%= form_for @anyshare, :html => { :class => "form-horizontal anyshare" } do |f| %>

  <% if @anyshare.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@anyshare.errors.count, "error") %> 您的输入有误，错误原因如下:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @anyshare.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "姓名", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
	</div>
  </div>

  <div class="form-group">
    <%= f.label "需求", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <div class="btn-group" data-toggle="buttons">
		<label class="btn btn-primary active">
			<input type="radio" name="anyshare[choice]" value="大别山" checked> <b>大别山</b></input>
		</label>
		<label class="btn btn-primary"> 
			<input type="radio" name="anyshare[choice]" value="蒸菜"> <b>蒸菜</b></input>
		</label>
	  </div>
	</div>
 </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "提交", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => "取消"),
                anyshares_path, :class => 'btn btn-default' %>
    </div>
  </div>
<HR>
<p>*姓名字段必填，4~10字符。</p>
<p>需求字段选填，100字符以内。</p>
<% end %>
