<!DOCTYPE html>
<html>
  <head>
    <title>EMCS食客</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

	<%= nav_bar :fixed => :top, :brand => "EMCS" do %>
		<%= menu_text "We make shiny things" %>
		<%= menu_text "We make shiny things" %>
		<%= menu_item "Home", root_path %>
	<% end %>



  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
