<!DOCTYPE html>
<html>
  <head>
    <title>食客 - 点餐人数统计</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= nav_bar :responsive => true, :fixed => :top, :brand => "Eisoo定餐" do %>
	<%= menu_text "We make shiny things" %>
  <% end %>
  

    <%= yield %>

  </body>
</html>
